@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-24 leading-40 mb-8;
  }

  .concepts-article h2,
  .concepts-article h6 {
    @apply text-20 font-500 leading-24 uppercase opacity-50 mb-3 mt-16;
  }

  .concepts-article h2:first-of-type {
    margin-top: 0;
  }

  .concepts-article ul {
    @apply mb-8 pl-10 list-disc;
  }

  .concepts-article h3 {
    @apply font-yeseva text-48 leading-55 text-blue mb-8;
  }

  .concepts-article h4 {
    @apply text-20 font-600 leading-24 uppercase mb-3;
  }

  .concepts-box p {
    @apply text-20 leading-32 mb-0;
  }

  .concepts-example p {
    @apply text-16 leading-32;
  }

  .assessment button {
    @apply enabled:cursor-pointer mx-auto px-4 py-2 rounded-md border enabled:shadow-sm disabled:bg-offwhite bg-white border-light-gray hover:enabled:bg-light-blue;
  }

  .assessment button[data-incorrect="true"] {
    @apply bg-light-red border-red;
  }

  .assessment button[data-correct="true"] {
    @apply bg-light-green border-green;
  }

  .range-slider_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
  }

  .range-slider_input::-moz-range-thumb {
    width: 14vmin;
    height: 14vmin;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
  }
}
